<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "swaglabs">
        <listeners>
            <listener class-name="com.learning.utility.Reporting"></listener>
        </listeners>
    <test name = "saucelabs Login page  ">
        <parameter name="browser" value="chrome" />

        <classes>

            <!--                        <class name="com.sujeet.testcases.AddToCart"/>-->
<!--            <class name="com.learning.testcases.dataDriver_SauceLabs"/>-->
            <class name="com.learning.webElemtnTestCases.Links"/>
        </classes>
    </test>
</suite>
