<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TestNG">

    <test name="Load Department">
        <classes>
            <class name="com.learning.TestNG.TestNG"></class>
        </classes>
    </test>
    <test name="Mobile">
        <classes>
            <class name="com.learning.TestNG.TestNGElectronic">
                <methods>
<!--                    regular expression to run the testcases starting with asus words-->
                    <exclude name="asus.*"></exclude>

                </methods>
                
            </class>
        </classes>
    </test>
</suite>